<!DOCTYPE html>
<html>
    <head></head>

    <body>
        <nav>
            <a href="/" class="f90-logout-button">Logout</a>
        </nav>
        <h1>Edit Books Page</h1>
        <form action='/books/<%=book.id%>?token=<%=token%>&_method=PUT' method="POST">
            Title: <input type="text" name="title" value="<%=book.title%>" />
            Author: <input type="text" name="author" value="<%=book.author%>" />
            Genre: <input type="text" name="genre" value="<%=book.genre%>" />
            Img: <input type="text" name="img" value="<%=book.img%>" />
            <select name="formatId">
                <% for ( let i = 0; i<formats.length; i++ ) {
                    let selected = (i == 0) ? "selected" : "";
                %>
                    <option value="<%=formats[i].id%>" <%=selected%>><%=formats[i].name%></option>
               <% } %>
            </select>
            <input type="submit" value="Edit Books" />
        </form>
    </body>
</html>