<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/edit.css" />
        <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
        <script src="https://kit.fontawesome.com/733e8c3c47.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <nav>
            <h1>The Blissful Bibliophiles Book Hoard</h1>
            <a href="/" class="logout-button">Logout</a>
        </nav>
        <h2>Edit Book Page</h2>
        <form action='/books/<%=book.id%>/<%=userId%>?token=<%=token%>&_method=PUT' method="POST">
            Title: <input type="text" name="title" value="<%=book.title%>" /><br><br>
            Author: <input type="text" name="author" value="<%=book.author%>" /><br><br>
            Img: <input type="text" name="img" value="<%=book.img%>" /><br><br>
            <select name="formatId">
                <% for ( let i = 0; i<formats.length; i++ ) {
                    let selected = (formats[i] == book.Format) ? "selected" : "";
                %>
                    <option value="<%=formats[i].id%>" <%=selected%>><%=formats[i].name%></option>
               <% } %>
            </select>
            <br><br>
            <input type="submit" value="Edit Book" class="button"/>
        </form>
        <footer>
            <div class="contact">
                <p>
                    <a href="#">Contact Us</a>
                </p>
            </div>
            <div class="social">
                <p>
                    <a href="#" class='fab fa-facebook'>Facebook</a>
                    <a href="#" class='fab fa-twitter'>Twitter</a>
                    <a href="#" class='ifab fa-instagram-square'>Instagram</a>
                </p>
            </div>
            <div class="copyright">
                <p>Copyright 2020. All Rights Reserved</p>
            </div>
        
        </footer>
    </body>
</html>