<!DOCTYPE html>
<html>
    <body>
        <nav>
            <a href="/" class="f90-logout-button">Logout</a>
        </nav>
        <h1>Welcome to the Hoard</h1>
        <nav>
            <a href="/books/new/?token=<%=token%>"> Add a New Book to the Hoard!</a>
        </nav>
        <ul>
            <% for(let i=0; i<books.length; i++) { %>
                <li>
                    <a href="/books/<%=books[i].id%>?token=<%=token%>"> <%=books[i].title%> </a>
                </li>
                <form action="/books/<%=books[i].id%>?_method=DELETE&token=<%=token%>" method="POST"> 
                    <input type="submit" value="Delete" />
                </form>
                <a href="/books/<%=books[i].id%>/edit/?token=<%=token%>">Edit</a>
                <br></br>
            <% } %>
        </ul>
    </body>
</html>