<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/show.css" />
    </head>
    <body>
        <nav>
            <a href="/" class="f90-logout-button">Logout</a>
        </nav>
        <h1><%=book.title%></h1>
        <img src=<%=book.img%> />
        This tome was added to the Hoard by <%=book.User.name%><br>
        <h3>Please Select Your Reading Format:</h3>
        <select name="formatId">
            <% for ( let i = 0; i<formats.length; i++ ) {
                let selected = (i == 0) ? "selected" : "";
            %>
                <option value="<%=formats[i].id%>" <%=selected%>><%=formats[i].name%></option>
           <% } %>
        </select>
        <br>
    </body>
</html>